.c-single-informative {
  &__container {
    display: flex;
    justify-content: space-between;

    @include below($xs-max) {
      flex-direction: column;
    }
  }

  &__left {
    margin-right: 3em;

  }
  
  .widget {
    h2 {
      font-size: 13px;
      font-weight: bold;
    }

    span {
      border-radius: 50% !important;
    }

    a {
      font-size: 28px;

      &:hover {
        span {
          background-color: $color-primary !important;
        }
      }
    }
  }

  &__date {
    margin-top: 4em;
  }

  &__right {
    width: 681px;
    max-width: 100%;

    h2 {
      font-size: clamp(25px, 5vw, 38px);
    }

    h3 {
      font-size: 16px;
    }
  }

  &__underline {
    background-color: $gray;
    width: 29px;
    height: 3px;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  hr {
    border-color: rgba(215,215,215, .4);
    margin-top: 3em;
    margin-bottom: 2em;
  }

  &__footer {
    &-col-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .widget {
      display: flex;
      align-items: center;
    }
  }
}