// Colors
$color-primary:     #DA2029;
$color-secondary:   #009A4D;

$gray:              #D7D7D7;
$light-gray:        #F8F8F8;
$white:             #FFFFFF;
$black:             #000000;
$green:             #00652C;
$light-green:       #009A4D;
$limon-green:       #A8FF00;
$dark-red:          #800000;
$red:               #FF464A;



// Objects
$text-color:          #464646;
$link-color:          $color-primary;
$link-hover-color:    darken($color-primary, 10%);

$btn-color-primary:   $color-secondary;



// Typography
$font-primary:        'Filson Pro', sans-serif;
$font-secondary:      'Filson Pro', sans-serif;



// Behaviour
$transition-default:  all .2s ease-out;



// Breakpoints
$xs-max:  767px;
$sm:      768px;
$sm-max:  1023px;
$md:      1024px;
$md-max:  1199px;
$lg:      1366px;
