.c-news {
  padding-top: clamp(2em, 5vw, 4em);
  padding-bottom: clamp(2em, 5vw, 4em);
  background-color: #F9A61A;
  background-image: url('../../library/images/u-red.svg');
  background-repeat: no-repeat;
}