.o-ttl {
  line-height: 1.2;
  margin-bottom: .5em;
  margin-top: 0;
  
  &--primary {
    font-family: $font-primary;
  }

  &--30 {
    font-size: clamp(20px, 3vw, 30px);
  }

  &--20 {
    font-size: clamp(18px, 3vw, 20px);
  }

  &--18 {
    font-size: clamp(16px, 3vw, 18px);
  }

  &--white {
    color: $white;
  }

  &--center {
    text-align: center;
  }

  &--txt {
    margin-top: .5em;
  }

}