.o-wrapper {
  margin: 0 auto;
  padding: 0 3%;

  &--1280 {
    max-width: 1280px;
  }

  &--1140 {
    max-width: 1140px;
  }

  &--1000 {
    max-width: 1000px;
  }

  &--790 {
    max-width: 790px;
  }
}